<ul>
  <% for @item in @items -%>
    <li><%= @item %></li>
  <% end -%>
</ul>                       
<%= hello :you -%>
<%= hello :me %>

<ul>
  <% for @person in @persons %>
    <li><%= @person %></li>
  <% end %>
</ul>                       

